# EXPLORE LABELLED DATA PROVIDED BY AUTHORS

In [20]:
import pandas as pd
import csv
import datetime

In [4]:
import_df = pd.read_csv('./Data/ghc_with_pushshift_meta_25850.tsv', sep='\t')

In [16]:
import_df[import_df.id>9000000].shape[0]

20674

In [24]:
kennedy_df = import_df.copy()

In [25]:
# change to datetime
kennedy_df['created_at'] = kennedy_df.created_at.apply(lambda x: datetime.datetime.strptime(x.split('+')[0], '%Y-%m-%d %H:%M:%S'))

In [48]:
# number of posts by month
kennedy_df.groupby(kennedy_df.created_at.apply(lambda x: x.to_period('M'))).id.count().reset_index().sort_values('created_at').rename(columns={'id':'number of posts'})

   created_at  number of posts
0     2016-09             5176
1     2018-01             2108
2     2018-02             2126
3     2018-03             2069
4     2018-04             2060
5     2018-05             2086
6     2018-06             2111
7     2018-07             2062
8     2018-08             1941
9     2018-09             2036
10    2018-10             2075

In [53]:
kennedy_df.groupby(['created_at', 'Hate']).id.count()

created_at           Hate
2016-09-01 03:45:58  0       1
2016-09-01 03:46:02  0       2
2016-09-01 03:46:03  0       1
2016-09-01 03:46:04  0       1
2016-09-01 03:46:14  0       1
                            ..
2018-10-29 00:02:56  1       1
2018-10-29 02:08:42  0       1
2018-10-29 02:15:20  0       1
2018-10-29 02:17:26  0       1
2018-10-29 02:20:00  0       1
Name: id, Length: 25590, dtype: int64

In [59]:
for month in pd.unique(kennedy_df.created_at.apply(lambda x: x.to_period('M'))):
    print(month)
    n_hate = kennedy_df[(kennedy_df.created_at.apply(lambda x: x.to_period('M'))==month) & (kennedy_df.Hate==1)].shape[0]
    n_total = kennedy_df[(kennedy_df.created_at.apply(lambda x: x.to_period('M'))==month)].shape[0]
    print("{} cases, of which {:.1%} are hateful".format(n_total, n_hate/n_total))
    print()

2016-09
5176 cases, of which 7.3% are hateful

2018-01
2108 cases, of which 9.0% are hateful

2018-02
2126 cases, of which 8.5% are hateful

2018-03
2069 cases, of which 9.2% are hateful

2018-04
2060 cases, of which 9.0% are hateful

2018-05
2086 cases, of which 11.1% are hateful

2018-06
2111 cases, of which 10.6% are hateful

2018-07
2062 cases, of which 10.4% are hateful

2018-08
1941 cases, of which 8.6% are hateful

2018-09
2036 cases, of which 8.8% are hateful

2018-10
2075 cases, of which 9.1% are hateful

In [60]:
# number of posts by month
kennedy_df.groupby([kennedy_df.created_at.apply(lambda x: x.to_period('M')), 'Hate']).id.count().reset_index().sort_values('created_at').rename(columns={'id':'number of posts'}).head(20)

   created_at  Hate  number of posts
0     2016-09     0             4800
1     2016-09     1              376
2     2018-01     0             1918
3     2018-01     1              190
4     2018-02     0             1945
5     2018-02     1              181
6     2018-03     0             1879
7     2018-03     1              190
8     2018-04     0             1874
9     2018-04     1              186
11    2018-05     1              232
10    2018-05     0             1854
12    2018-06     0             1887
13    2018-06     1              224
14    2018-07     0             1848
15    2018-07     1              214
16    2018-08     0             1774
17    2018-08     1              167
18    2018-09     0             1857
19    2018-09     1              179

In [47]:
kennedy_df.groupby(kennedy_df.id.apply(lambda x: round(x/1000000,0))).id.count()

id
0.0     5176
17.0     403
18.0     986
19.0    1577
20.0    1027
21.0     881
22.0    1050
23.0    1006
24.0     911
25.0    1358
26.0    1031
27.0    1271
28.0    1030
29.0    1075
30.0     956
31.0     646
32.0     676
33.0     526
34.0     564
35.0     510
36.0     560
37.0     897
38.0     828
39.0     563
40.0     342
Name: id, dtype: int64

In [50]:
print('{:.1%}'.format(kennedy_df[kennedy_df.Hate==1].shape[0]/kennedy_df.shape[0]))

9.0%